.button {
  background-color: black;
  color: white;
  padding: 9px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
}
* { font-family: "Lucida Console", "Lucida Sans Typewriter", monaco, "Bitstream Vera Sans Mono", monospace;
} 
h1 { 
  position: fixed;
  top: 10%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
}
form {
  border-style: solid;
  position: fixed;
  top: 30%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
}
input {
  margin-top: 20px;
  margin-left: 10px;
}
